.main-layout {
    height: 100%;
    width: 100%;
    display: flex;
}

.main-container {
    padding: 32px 40px !important;
    width: calc(100vw - 265px) !important;
    background: #F8F8F8 !important;
    overflow-y: auto !important;
}

.userimage {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 48px;
    border: 1px solid var(--primary-green, #79AA00);
}

@media screen and (max-width:768px) {
    .main-container {
        width: calc(100vw - 90px) !important;
        padding: 32px 20px !important;
    }

}
.bage-count{
background-color: rgba(52, 134, 193, 0.1);
border-radius: 8px;
}
.camera-count{
background-color: rgba(159, 193, 52, 0.1);
border-radius: 8px;
}
.bags-text{
    color: rgba(52, 134, 193, 1);
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
.camera-text{
    color: #79AA00;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
.label {
  color:#1E252B;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}
.thanks-icon{
    width: 154px;
    height: 154px;
}
.tahnks-text{
    color:  #526D00;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: 100%;
}
.iner-text{
    color: #777;
text-align: center;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px;
}