.field-container {
  border-radius: 12px;
  background: #F8F8F8 !important;
  margin-bottom: 16px !important;
}

input[type= "password"]::placeholder{
  color: #D9D9D9 !important;
}
.field-container>div {
  height: 56px;
}

.custom-field {
  border: none !important;
  background: #F8F8F8 !important;
}

.mobile {
  border: none !important;
  width: 100% !important;
}

.dotted {
  background: #F8F8F8 !important;
  cursor: pointer;
}