.field-container {
  border: 1px solid #e7e6e9;
  border-radius: 8px;
  background-color: #fff !important;
  margin-bottom: 16px !important;
}

.field-container>div {
  height: 56px;
}

.custom-field {
  border: none !important;
  background-color: #fff !important;
}

.mobile {
  border: none !important;
  width: 100% !important;
}

.dotted {
  border: 1px dotted #e7e6e9 !important;
  background-color: #f1f6f7 !important;
  cursor: pointer;
}